<!DOCTYPE html>

<html lang="en" id="html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config["WEBSITE_NAME"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/fontawesome-free-6.2.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/Skeleton-2.0.4/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/Skeleton-2.0.4/css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- <link href="data:image/x-icon;base64,{{ config['WEBSITE_LOGO'] }}" rel="icon" type="image/x-icon" /> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block head %}{% endblock head %}
  </head>
  <body>
     
    <div id="hide-me" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <br>
          <div class="row flashes {{ category }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="twelve columns">
          <h3><b>{{ config["WEBSITE_NAME"] }}</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <!-- <img class="logo" src="data:image/png;base64, {{ config['WEBSITE_LOGO'] }}"> -->
          <!-- <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"> -->
          <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <br>
          <h5><b>{{ config["WEBSITE_SLOGAN"] }}</b></h5>
        </div>
      </div>
    </div>
      <br>
    <div class="container">
      <div class="row">
        <!-- <div class="three columns"> -->
        <div class="four columns">
          <button
            class='{{"button-primary-filled" if active_page == "about" else "button-primary-hollow"}}'
            onclick="window.location.href='{{ url_for('about_bp.get')}}';">
              <i class="fa-solid fa-info"></i>
              &nbsp;
              About
          </button>
        </div>
        <!-- <div class="three columns"> -->
        <div class="four columns">
          <button
            class='{{"button-primary-filled" if active_page == "contact" else "button-primary-hollow"}}'
            onclick="window.location.href='{{ url_for('contact_bp.get')}}';">
              <i class="fa-regular fa-comment"></i>
              &nbsp;
              Contact
          </button>
        </div>
        <!-- <div class="three columns"> -->
        <div class="four columns">
          <button
            class='{{"button-primary-filled" if active_page == "pay" else "button-primary-hollow"}}'
            onclick="window.location.href='{{ url_for('pay_bp.get')}}';">
              <i class="fa-brands fa-btc"></i>
              &nbsp;
              Pay
          </button>
        </div>
        <!-- <div class="three columns"> -->
          <!-- <button -->
            <!-- class='{{"button-primary-filled" if active_page == "legal" else "button-primary-hollow"}}' -->
            <!-- onclick="window.location.href='{{ url_for('legal_bp.get')}}';"> -->
              <!-- <i class="fa-solid fa-gavel"></i> -->
              <!-- &nbsp; -->
              <!-- Legal -->
          <!-- </button> -->
        <!-- </div> -->
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="twelve columns">
          {% if config["MAIL_USERNAME"] != "" %}
            <a href="mailto:{{ config['MAIL_USERNAME'] }}?subject=Hello!"><i class="fa fa-envelope fa-2xl"></i></a>
            &nbsp;
            &nbsp;
            &nbsp;
          {% endif %}
          {% if config["WEBSITE_TIKTOK"] != "" %}
            <a href="https://www.tiktok.com/@{{ config['WEBSITE_TIKTOK'] }}" target=”_blank”><i class="fa-brands fa-tiktok fa-2xl"></i></a>
            &nbsp;
            &nbsp;
            &nbsp;
          {% endif %}
          {% if config["WEBSITE_INSTAGRAM"] != "" %}
            <a href="https://instagram.com/{{ config['WEBSITE_INSTAGRAM'] }}" target=”_blank”><i class="fa-brands fa-instagram fa-2xl"></i></a>
            &nbsp;
            &nbsp;
            &nbsp;
          {% endif %}
          {% if config["WEBSITE_TWITTER"] != "" %}
            <a href="https://twitter.com/{{ config['WEBSITE_TWITTER'] }}" target=”_blank”><i class="fa-brands fa-twitter fa-2xl"></i></a>
            &nbsp;
            &nbsp;
            &nbsp;
          {% endif %}
          {% if config["WEBSITE_GITHUB"] != "" %}
            <a href="https://github.com/{{ config['WEBSITE_GITHUB'] }}" target=”_blank”><i class="fa-brands fa-github fa-2xl"></i></a>
            &nbsp;
            &nbsp;
            &nbsp;
          {% endif %}

        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
