{% set active_page = "pay" %}
{% extends "base.html" %}

{% block content %}

      <h2>Pay</h2>
<br>

<div class="row">
  <div class="six columns">
    <button class="button-primary-filled" id="pay-invoice-button" onclick="toggle(['pay-lnurl', 'pay-invoice']);">
<i class="fas fa-file-invoice"></i>&nbsp;
      Invoice
    </button>
  </div>
  <div class="six columns">
    <button class="button-primary-hollow" id="pay-lnurl-button" onclick="toggle(['pay-lnurl', 'pay-invoice']);">
<i class="fa-solid fa-globe"></i>&nbsp;
      LNURL
    </button>
  </div>  
</div>
<br>
<br>

<div id="pay-lnurl" style="display: none;">
  <div class="row">
    <div class="twelve columns">
      <h2>LNURL</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <img src="{{ qrcode(data['lnurl']) }}" style="width: 300px; height: 300px;">
    </div>
  </div>
</div>

<div id="pay-invoice" style="display: block;">
  <div class="row">
    <div class="twelve columns">
      <h2>Invoice</h2>
      <form action="{{ url_for('pay_bp.invoice') }}" method="POST">
        {{ form.csrf_token }}
        <div class="row">
          <div class="two columns">
            {{ form.unit.label }}
            {{ form.unit }}
          </div>
          <div class="ten columns">
            {{ form.amount.label }}
            {{ form.amount }}
          </div>
        </div>
        {{ form.memo.label }}
        {{ form.memo }}
        <!-- { form.recapture }} -->
        {{ form.submit }}
      </form>
      {% if form.errors %}
        {{ form.errors }}
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
